.weather {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.weather-container {
  width: 950px;
  max-width: 100%;
}
.error-screen {
  text-align: center;
  font-size: 35px;
  color: #d11616;
  font-weight: 600;
}
