.weather-card {
  min-height: 270px;
  background-color: #edf6fa;
}
.weather-card:first-child {
  min-height: 320px;
  grid-column: 1 / -1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.weather-card:nth-child(2) {
  border-bottom-left-radius: 8px;
}
.weather-card:last-child {
  border-bottom-right-radius: 8px;
}
