.weather-card {
    min-height: 270px;
    background-color: #edf6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;

    &__title {
        font-weight: 200;
        font-size: 27px;
        color: #4d4e56;
    }

    &__icon {
        width: 95px;
        margin: 0 auto;
        font-size: 70px;
        text-align: center;
        color: #2e4369;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
    }

    &__temp {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        @media (max-width: 500px) {
            font-size: 20px;
        }
        span {
            display: block;
        }
    }

    &:first-child {
        min-height: 380px;
        grid-column: 1 / -1;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        padding-top: 50px;

        .weather-card {
            &__results {
                display: flex;
                align-items: center;

                @media (max-width: 770px) {
                    flex-direction: column;
                    margin-bottom: 50px;
                }
            }

            &__title {
                font-size: 40px;
                margin-bottom: 30px;
            }

            &__icon {
                width: 180px;
                height: 150px;
                font-size: 150px;
            }

            &__temp {
                font-size: 65px;
                font-weight: 600;
                @media (max-width: 770px) {
                    font-size: 55px;
                }
                @media (max-width: 500px) {
                    font-size: 45px;
                }
                &-description {
                    font-weight: 200;
                    font-size: 32px;
                }
            }
        }
    }

    &:nth-child(2) {
        border-bottom-left-radius: 8px;
    }

    &:last-child {
        border-bottom-right-radius: 8px;
    }
}
