.weather-card {
  min-height: 270px;
  background-color: #edf6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
.weather-card__title {
  font-weight: 200;
  font-size: 27px;
  color: #4d4e56;
}
.weather-card__icon {
  width: 95px;
  margin: 0 auto;
  font-size: 70px;
  text-align: center;
  color: #2e4369;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
}
.weather-card__temp {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 500px) {
  .weather-card__temp {
    font-size: 20px;
  }
}
.weather-card__temp span {
  display: block;
}
.weather-card:first-child {
  min-height: 380px;
  grid-column: 1 / -1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding-top: 50px;
}
.weather-card:first-child .weather-card__results {
  display: flex;
  align-items: center;
}
@media (max-width: 770px) {
  .weather-card:first-child .weather-card__results {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.weather-card:first-child .weather-card__title {
  font-size: 40px;
  margin-bottom: 30px;
}
.weather-card:first-child .weather-card__icon {
  width: 180px;
  height: 150px;
  font-size: 150px;
}
.weather-card:first-child .weather-card__temp {
  font-size: 65px;
  font-weight: 600;
}
@media (max-width: 770px) {
  .weather-card:first-child .weather-card__temp {
    font-size: 55px;
  }
}
@media (max-width: 500px) {
  .weather-card:first-child .weather-card__temp {
    font-size: 45px;
  }
}
.weather-card:first-child .weather-card__temp-description {
  font-weight: 200;
  font-size: 32px;
}
.weather-card:nth-child(2) {
  border-bottom-left-radius: 8px;
}
.weather-card:last-child {
  border-bottom-right-radius: 8px;
}
