.weather-header {
    text-align: center;
    &__list {
        list-style: none;
        margin-bottom: 30px;
        &-item {
            display: inline-block;
            margin: 20px 50px 10px;
            font-size: 34px;
            font-weight: 200;
            text-transform: uppercase;
            color: #333338;
            cursor: pointer;

            @media (max-width: 770px) {
                margin: 20px 20px 10px;
            }

            @media (max-width: 580px) {
                margin: 20px 10px 10px;
                font-size: 28px;
            }

            &.selected {
                font-weight: 700;
                color: #5fb0e8;
            }
        }
    }
}
